@charset "UTF-8";

.white{
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 80px;
  text-align: center;
  border-left:solid 25px#ffae40;
  border-right:solid 25px#ffae40;
}

.caption{
  color:#333;
}

nav {
  background-color: #ffae40;
  border-radius:10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

nav li {
  flex: 1;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



nav li:hover {
  background-color: #ffae40;
  color: black;
}

nav a:hover {
  background-color: #ddd;
  color: #ffae40;
}


/* body */
body{
  background-color: #e5e5e5;
  color:dimgray;
}



h1 {
  padding: 10px 30px 5px 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#333
}

h4 {
  color:#333
}

h3 {
  /* 線の色決める */
  border-left: solid 5px #414441;
  padding: 4px 9px 4px 14px;
  color: #ffae40;
  background-color:#ffffff;
}

p{
  color:#333;
  font-size: 15px;
}

.text{
  background-color:#ffffff;
  padding: 10px 30px;
  border-radius:10px; 
  margin-bottom: 60px;
}



/* 画像・文字 */
figure{
  background-color:#ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
img{
  border-radius:10px;
  display: block;
  margin: 0 auto;
}

figcaption{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color:#414441;
}

/* sectionデザイン */
section{
  margin-bottom: 50px;
}

/* footer　作者情報のデザイン */
address{
  margin-top: 20px;
}

small{
  color:lightslategray;
}

footer{
  border-top: solid 3px #414441;
  background-color:#bfbfbf;
  width: 100%;
  text-align: center;
}